<%- include("includes/header") %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form class="login_container" action="/resto/login" method="POST">
    <div class="login_frame">
      <div class="login_top">
        <span>Saytga Kirish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan o'tmaganmisiz?
          <a href="/resto/signup" style="color: #6440fb">Ro'yhatdan o'tish</a>
        </p>
      </div>
      <div class="login_input_frame">
        <div class="login_input_container">
          <label>Ism</label>
          <input
            type="text"
            placeholder="Foydalanuvchining ismi"
            value=""
            name="mb_nick"
            required
          />
        </div>
        <div class="login_input_container">
          <label>Password kiriting</label>
          <input
            type="password"
            placeholder="Password"
            value=""
            name="mb_password"
            required
          />
        </div>
      </div>

      <button class="login_btn btn" name="login" type="submit">Kirish</button>
    </div>
  </form>
</body>
<%- include("includes/footer") %>
