<%- include("includes/header") %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form
    onsubmit="return validateSignupForm()"
    action="/resto/signup"
    method="POST"
    enctype="multipart/form-data"
    class="login_container"
  >
    <div class="login_frame">
      <div class="login_top">
        <span>Ro'yhatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan allaqachon o'tganmisiz?
          <a href="/resto/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label> Foydalanuvchining ismi</label>
          <input
            type="text"
            placeholder="Foydalanuvchining ismi"
            value=""
            class="mb_nick"
            name="mb_nick"
            required
          />
        </div>
        <div class="sign_up_frame">
          <label> Telefon raqam</label>
          <input
            type="text"
            placeholder="Telefon raqam"
            value=""
            name="mb_phone"
            class="mb_phone"
            required
          />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Password</label>
          <input
            type="password"
            placeholder="Password"
            value=""
            name="mb_password"
            class="mb_password"
            required
          />
        </div>
        <div class="sign_up_frame">
          <label> Passwordni qayta kiriting</label>
          <input
            type="password"
            placeholder="Passwordni tasdiqlash"
            value=""
            name="mb_confirm_password"
            class="mb_confirm_password"
            required
          />
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media-frame">
          <img
            src="/images/default_resto.jpeg"
            alt="rasm"
            class="upload_img_frame"
          />
          <div class="upload_container">
            <span class="media_text">Restaurant Rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                value="Rasmni tanlang"
                disabled="disabled"
                class="upload-name"
              />
              <label for="input_file">Rasm yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu yerga yuklang. <br />
              Muhim ko'rsatmalar: .jpg, .jpeg, .png. <br />
              Rasmda matn yo'q bo'lishi kerak.
            </p>
          </div>
        </div>
      </div>
      <button class="login_btn btn" name="signup" type="submit">
        Ro'yhatdan o'tish
      </button>
    </div>
  </form>
</body>
<script>
  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        const fileType = uploading_file["type"];
        const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImageTypes.includes(fileType)) {
          alert(
            "Iltimos ruhsat etilgan formatdagi fayllarni yuklamh: jpg, jpeg va png!"
          );
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("success");
          }

          filename = $(this)[0].files[0].name;
        }
      }
      $(this).siblings(".upload-name").val(filename);
    });
  });
  function validateSignupForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

    if (
      mb_nick == "" ||
      mb_phone == "" ||
      mb_password == "" ||
      mb_confirm_password == ""
    ) {
      alert("Iltimos hamma malumotlarni kiriting");
      return false;
    } else if (mb_password !== mb_confirm_password) {
      alert("Iltimos passwordni togri kiriting");
      return false;
    }
    if (!restaurant_img) {
      alert("Iltimos rasmni yuklang!");
      return false;
    }

    return true;
  }
</script>
<%- include("includes/footer") %>
